<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="clinic_ivf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="clinic_ivf.Properties.Settings.ivfConnectionString"
            connectionString="server=192.168.10.2;user id=root;persistsecurityinfo=True;database=ivf"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="C1ApplicationTheme" value="Windows8Gray" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <clinic_ivf.Properties.Settings>
            <setting name="QatBelowRibbon" serializeAs="String">
                <value>False</value>
            </setting>
        </clinic_ivf.Properties.Settings>
    </userSettings>
</configuration>